# Unity generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/com.unity.package-manager-ui/
UserSettings/

# VSCode / Rider / Visual Studio
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db

# Crash logs
sysinfo.txt

# Dossiers ajoutes a ignorer
Assets/Unity Packages/
Logs/
Assets/Werewolf.meta
Assets/Werewolf/Animations.meta
Assets/Werewolf/Animations/Werewolf@attack1.fbx
Assets/Werewolf/Animations/Werewolf@attack1.fbx.meta
Assets/Werewolf/Animations/Werewolf@death1.fbx
Assets/Werewolf/Animations/Werewolf@death1.fbx.meta
Assets/Werewolf/Animations/Werewolf@gethit1.fbx
Assets/Werewolf/Animations/Werewolf@gethit1.fbx.meta
Assets/Werewolf/Animations/Werewolf@idle1.fbx
Assets/Werewolf/Animations/Werewolf@idle1.fbx.meta
Assets/Werewolf/Animations/Werewolf@idle2.fbx
Assets/Werewolf/Animations/Werewolf@idle2.fbx.meta
Assets/Werewolf/Animations/Werewolf@walk.fbx
Assets/Werewolf/Animations/Werewolf@walk.fbx.meta
Assets/Werewolf/ExtractME.meta
Assets/Werewolf/ExtractME/BuiltInToHDRP.unitypackage
Assets/Werewolf/ExtractME/BuiltInToHDRP.unitypackage.meta
Assets/Werewolf/ExtractME/BuiltInToURP.unitypackage
Assets/Werewolf/ExtractME/BuiltInToURP.unitypackage.meta
Assets/Werewolf/ExtractME/ReadMe.txt
Assets/Werewolf/ExtractME/ReadMe.txt.meta
Assets/Werewolf/Materials.meta
Assets/Werewolf/Materials/Skin1 Body.mat
Assets/Werewolf/Materials/Skin1 Body.mat.meta
Assets/Werewolf/Materials/Skin1 BodyNoFur.mat
Assets/Werewolf/Materials/Skin1 BodyNoFur.mat.meta
Assets/Werewolf/Materials/Skin1 Fur.mat
Assets/Werewolf/Materials/Skin1 Fur.mat.meta
Assets/Werewolf/Materials/Skin2 Body.mat
Assets/Werewolf/Materials/Skin2 Body.mat.meta
Assets/Werewolf/Materials/Skin2 Fur.mat
Assets/Werewolf/Materials/Skin2 Fur.mat.meta
Assets/Werewolf/Materials/Skin3 Body.mat
Assets/Werewolf/Materials/Skin3 Body.mat.meta
Assets/Werewolf/Materials/Skin3 BodyNoFur.mat
Assets/Werewolf/Materials/Skin3 BodyNoFur.mat.meta
Assets/Werewolf/Materials/Skin3 Fur.mat
Assets/Werewolf/Materials/Skin3 Fur.mat.meta
Assets/Werewolf/Materials/Skin4 Body.mat
Assets/Werewolf/Materials/Skin4 Body.mat.meta
Assets/Werewolf/Materials/Skin4 BodyNoFur.mat
Assets/Werewolf/Materials/Skin4 BodyNoFur.mat.meta
Assets/Werewolf/Materials/Skin4 Fur.mat
Assets/Werewolf/Materials/Skin4 Fur.mat.meta
Assets/Werewolf/Materials/Skin5 Body Zombie.mat
Assets/Werewolf/Materials/Skin5 Body Zombie.mat.meta
Assets/Werewolf/Materials/Skin6 Body Neon.mat
Assets/Werewolf/Materials/Skin6 Body Neon.mat.meta
Assets/Werewolf/Mesh.meta
Assets/Werewolf/Mesh/Basemesh1.fbx
Assets/Werewolf/Mesh/Basemesh1.fbx.meta
Assets/Werewolf/Mesh/Basemesh2.fbx
Assets/Werewolf/Mesh/Basemesh2.fbx.meta
Assets/Werewolf/Mesh/Basemesh3.fbx
Assets/Werewolf/Mesh/Basemesh3.fbx.meta
Assets/Werewolf/Mesh/Basemesh4.fbx
Assets/Werewolf/Mesh/Basemesh4.fbx.meta
Assets/Werewolf/Mesh/Basemesh5.fbx
Assets/Werewolf/Mesh/Basemesh5.fbx.meta
Assets/Werewolf/Mesh/Materials.meta
Assets/Werewolf/Mesh/Materials/1_Fur.mat
Assets/Werewolf/Mesh/Materials/1_Fur.mat.meta
Assets/Werewolf/Mesh/Materials/lambert2.mat
Assets/Werewolf/Mesh/Materials/lambert2.mat.meta
Assets/Werewolf/Prefab.meta
Assets/Werewolf/Prefab/Basemesh1.prefab
Assets/Werewolf/Prefab/Basemesh1.prefab.meta
Assets/Werewolf/Prefab/Basemesh10.prefab
Assets/Werewolf/Prefab/Basemesh10.prefab.meta
Assets/Werewolf/Prefab/Basemesh2.prefab
Assets/Werewolf/Prefab/Basemesh2.prefab.meta
Assets/Werewolf/Prefab/Basemesh3.prefab
Assets/Werewolf/Prefab/Basemesh3.prefab.meta
Assets/Werewolf/Prefab/Basemesh4.prefab
Assets/Werewolf/Prefab/Basemesh4.prefab.meta
Assets/Werewolf/Prefab/Basemesh5.prefab
Assets/Werewolf/Prefab/Basemesh5.prefab.meta
Assets/Werewolf/Prefab/Basemesh6.prefab
Assets/Werewolf/Prefab/Basemesh6.prefab.meta
Assets/Werewolf/Prefab/Basemesh7.prefab
Assets/Werewolf/Prefab/Basemesh7.prefab.meta
Assets/Werewolf/Prefab/Basemesh8.prefab
Assets/Werewolf/Prefab/Basemesh8.prefab.meta
Assets/Werewolf/Prefab/Basemesh9.prefab
Assets/Werewolf/Prefab/Basemesh9.prefab.meta
Assets/Werewolf/Textures.meta
Assets/Werewolf/Textures/Fur.meta
Assets/Werewolf/Textures/Fur/1_Fur Skin1.tga
Assets/Werewolf/Textures/Fur/1_Fur Skin1.tga.meta
Assets/Werewolf/Textures/Fur/1_Fur Skin2.tga
Assets/Werewolf/Textures/Fur/1_Fur Skin2.tga.meta
Assets/Werewolf/Textures/Fur/1_Fur Skin3.tga
Assets/Werewolf/Textures/Fur/1_Fur Skin3.tga.meta
Assets/Werewolf/Textures/Fur/1_Fur Skin4.tga
Assets/Werewolf/Textures/Fur/1_Fur Skin4.tga.meta
Assets/Werewolf/Textures/Fur/1_Fur_Metallic+Roughness.tga
Assets/Werewolf/Textures/Fur/1_Fur_Metallic+Roughness.tga.meta
Assets/Werewolf/Textures/Fur/1_Fur_Normal.png
Assets/Werewolf/Textures/Fur/1_Fur_Normal.png.meta
Assets/Werewolf/Textures/Fur/1_Fur_Occlusion.png
Assets/Werewolf/Textures/Fur/1_Fur_Occlusion.png.meta
Assets/Werewolf/Textures/Skin1 Body.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_Skin1_Albedo.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_Skin1_Albedo.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_Skin1Fur_Albedo.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_Skin1Fur_Albedo.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Emission.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Emission.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Metallic+Roughness.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Metallic+Roughness.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Metallic.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Metallic.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Normal.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Normal.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Occlusion.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Occlusion.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Roughness.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAll_Roughness.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAllFur_Metallic+Roughness.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAllFur_Metallic+Roughness.tga.meta
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAllFur_Roughness.tga
Assets/Werewolf/Textures/Skin1 Body/T_Werewolf_SkinAllFur_Roughness.tga.meta
Assets/Werewolf/Textures/Skin2 Body.meta
Assets/Werewolf/Textures/Skin2 Body/T_Werewolf_Skin2_Albedo.tga
Assets/Werewolf/Textures/Skin2 Body/T_Werewolf_Skin2_Albedo.tga.meta
Assets/Werewolf/Textures/Skin3 Body.meta
Assets/Werewolf/Textures/Skin3 Body/T_Werewolf_Skin3_Albedo.tga
Assets/Werewolf/Textures/Skin3 Body/T_Werewolf_Skin3_Albedo.tga.meta
Assets/Werewolf/Textures/Skin3 Body/T_Werewolf_Skin3Fur_Albedo.tga
Assets/Werewolf/Textures/Skin3 Body/T_Werewolf_Skin3Fur_Albedo.tga.meta
Assets/Werewolf/Textures/Skin4 Body.meta
Assets/Werewolf/Textures/Skin4 Body/T_Werewolf_Skin4_Albedo.tga
Assets/Werewolf/Textures/Skin4 Body/T_Werewolf_Skin4_Albedo.tga.meta
Assets/Werewolf/Textures/Skin4 Body/T_Werewolf_Skin4Fur_Albedo.tga
Assets/Werewolf/Textures/Skin4 Body/T_Werewolf_Skin4Fur_Albedo.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Albedo.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Albedo.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Emission.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Emission.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Metallic+Roughness.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Metallic+Roughness.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Metallic.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Metallic.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Normal.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Normal.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Occlusion.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Occlusion.tga.meta
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Roughness.tga
Assets/Werewolf/Textures/Skin5 Body Zombie/T_Werewolf_Skin5_Roughness.tga.meta
Assets/Werewolf/Textures/Skin6 Body Neon.meta
Assets/Werewolf/Textures/Skin6 Body Neon/T_Werewolf_Skin6_Emission.tga
Assets/Werewolf/Textures/Skin6 Body Neon/T_Werewolf_Skin6_Emission.tga.meta
Assets/Werewolf/Werewolf Animator Controller.controller
Assets/Werewolf/Werewolf Animator Controller.controller.meta
Assets/Werewolf/Werewolf.unity
Assets/Werewolf/Werewolf.unity.meta
Assets/Audio/Musics/Starfox Adventures 🏛️ Krazoa Palace - Ambience.mp3
Assets/Audio/Musics/\[Music\]\[Starfox Adventures\] Krazoa Palace - Ambience.mp3
