# Unity generated
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Pp]ackages/com.unity.package-manager-ui/
UserSettings/

# VSCode / Rider / Visual Studio
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj

# OS files
.DS_Store
Thumbs.db

# Crash logs
sysinfo.txt

# Dossiers ajoutes a ignorer
Assets/Unity Packages/
Logs/